
html{
    font-family: "Helvetica", sans-serif;
}

* {
    box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

/* Adjusts columns to fit big screens*/
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row {
    position: relative;
    top: 10px;
    padding: 0 10px;
}

.row::after {
    content: "";
    clear: both;
    display: grid;
}

.dropdown{
    position: relative;
    left: 1%;
    top: 1vw;
    font-size: 1.5vw;
}
.map{
    position: relative;
    /*width: 100%;*/
    /*height: auto;*/
    top: 8vw;
    height: 30vw;
    width: 80%;
    border: 1px solid black;
}

.busButton{
    position: absolute;
    left: 0;
    top: -40px;
}

.refreshButton{
    position: absolute;
    left: 40%;
    top: -40px;
}

.routeButton{
    position: absolute;
    right: 0;
    top: -40px;
}
